---
layout: default
title: Home
---
<section id="home">
    <div class="row">
        <div class="large-4 columns" id="profile-pic-large">
            <span></span>
        </div>
        <div class="large-8 columns" id="bubble-container">
            <div class="bubble">
                <hgroup>
                <h1>Hello! I'm Craig McCaskill.</h1>
                <h2>UX Designer and Product guy</h2>
                </hgroup>
                <p>Need help delighting your users? I'm your guy. I've been working on
                web products since 2004, both as a consultant and full time as an early member of the team.
                I love building things, driving user happyness and asking the hard questions.</p>
            </div>
        </div>
    </div>
</section>
<hr class="double-line">
<div class="row">
    <section id="featured-posts" class="large-6 columns">
        <h2>Featured Posts</h2>
        <ul class="related-posts">
            {% for post in site.categories.blog limit:3 %}
            <li>
                <h3>
                <a href="{{ post.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
                </a>
                </h3>
            </li>
            {% endfor %}
        </ul>
        
    </section>
    <section id="featured-work" class="large-6 columns">
        <h2>Featured Work</h2>
        <ul class="related-posts">
            {% for post in site.categories.portfolio limit:3 %}
            <li>
                <h3>
                <a href="{{ post.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
                </a>
                </h3>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>